<p class="ncc-section-title">Page Section Title: {{sectionfont}}</p>
<p>Primary font: {{font}}</p>
<p><em>Primary font italic: {{font}}</em></p>
<p><strong>Primary font bold: {{font}}</strong></p>
<p>Secondary font: {{font}}</p>